@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ede7d3;
  --primary: #ffe262;
  --light-border: #c4c4c4;
  --yellow-border: #c6a246;
  --primary-hover: #e9cf5b;

  --pri-font: "Open Sans", sans-serif;
  --sec-font: "Space Mono", monospace;
  --sp-font: "Spicy Rice", serif;
}

@layer base{
  body {
    background: var(--background);
    font-family: var(--pri-font);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
